*.pyc
.*.swp
*.classpath
*.project
*.settings
target/
.idea/
*.iml
*.log
*.data
*.redo
nodes/
.metadata/
*~*
src/test

git.properties

.vs
/.vs
/bin
/obj

node_modules/
bower_components/
.sass-cache/
.tmp/
dist/

/dms-web/dms/obj/Debug
/dms-web/**/*.cache
/dms-web/**/*.dll
/dms-web/**/*.dll.config
/dms-web/**/*.pdb
/dms-web/**/*.rar
/dms-web/**/*.map
/dms-web/**/*.rar

/dms-web/packages
/dms-web/dms-backoffice/bin
/dms-web/dms-backoffice/obj
/dms-web/dms-backoffice/dms-backoffice.csproj.user
/dms-web/dms-backoffice/src/app/company/*.js
/dms-web/dms-backoffice/src/app/components/*.js
/dms-web/dms-backoffice/src/app/core/**/*.js
/dms-web/dms-backoffice/src/app/groupment/*.js
/dms-web/dms-backoffice/src/app/help/*.js
/dms-web/dms-backoffice/src/app/home/*.js
/dms-web/dms-backoffice/src/app/image/*.js
/dms-web/dms-backoffice/src/app/player/*.js
/dms-web/dms-backoffice/src/app/sequence/*.js
/dms-web/dms-backoffice/src/app/site/*.js
/dms-web/dms-backoffice/src/app/video/*.js
/dms-web/dms-backoffice/src/app/view/*.js
/dms-web/dms-backoffice/src/app/worker/**/*.js
/dms-web/dms-backoffice/src/app/app.provider.js
/dms-web/dms-backoffice/src/app/app.register.js
/dms-web/dms-backoffice/src/app/app.route.js
/dms-web/dms-backoffice/src/app/app.run.js
/dms-web/dms-backoffice/src/app/app.translation.js
/dms-web/dms-backoffice/src/app/app.context.service.js
/dms-web/dms-backoffice/src/app/app.environment.js
/dms-web/dms-backoffice/src/app/app.module.js
/dms-web/dms-backoffice/src/app/announce/*.js
/dms-web/dms-backoffice/src/app/profile/*.js
/dms-web/dms-backoffice/src/app/htmltemplate/*.js
/dms-web/dms-backoffice/src/app/library/*.js
/dms-web/dms-backoffice/src/app/app.directive.js
/dms-web/dms-backoffice/src/app/customcontent/*.js
/dms-web/dms-player/bin
/dms-web/dms-player/obj
/dms-web/dms-player/dms-player.csproj.user
/dms-web/dms-player/src/app/app.directive.js
/dms-web/dms-player/src/app/app.module.js
/dms-web/dms-player/src/app/app.provider.js
/dms-web/dms-player/src/app/app.register.js
/dms-web/dms-player/src/app/app.route.js
/dms-web/dms-player/src/app/app.translation.js
/dms-web/dms-player/src/app/player/*.js
/dms-web/dms-player/src/app/core/**/*.js